


<form action="/authors" method ="post">
  <label for="name">Name<br>
    <input type="text" name="author[name]"><br>
  </label>
  <label for ="photo_url"><Photo URL<br>
    <input type="text" name="author[photo_url]"><br>
  </label>
  <label for="career_field">Career Field<br>
    <input type = "text" name="author[career_field]"><br>
    </label>
  <label for="birthyear">Birth Year<br>
    <input type = "text" name="author[birthyear]"><br>
  </label>
</form>
