<h3><%= @quote.name %></h3>
<a href = "/quotes/<%= @tag.quote.id %>"><%tag.quote.name %></a>


      <form action="/quotes/<%= @quote.id %>/add_tag" method ="post">
        <select>
        <input type = "checkbox" name="_method" value= "put">

        <% @quote.each do |tag| %>
        <option value="<tag.id %>"><% tag.name %></option>
          <% end %>
        <input type = "checkbox" name="types[]" value = "Sports">Sport<br>
        <input type = "checkbox" name="types[]" value = "Motiviation">Motiviation<br>
        <input type = "checkbox" name="types[]" value = "Humor">Humor<br>
        <input type = "checkbox" name="types[]" value = "Life">Life<br>
        <input type = "checkbox" name="types[]" value = "Misc.">Misc.<br>
      </select>
      <br>
      <button>Add Tag</button>

    </form>

  <a href= "/quotes/">Back to quotes.</a>
  <br>
