<div class = "single tag">
  <h2><%= @tag.name %>feed:</h2>
  <% @tag.quotes.each do |quotes| %>
  <div>
    <p>
  <h4><a href="/authors/<%= @tag.author.id %>"><%= @song.author.name %></a>

 </div>
<a href="/tags/<%= @tag.id %>/edit">Edit</a>
